<h1>The Great Outdoors</h1>

<p><img src="../greatoutdoors-image.png" alt="Get out and live" style="width:855px;height:595px;"></p>
<p>
Welcome to the Great Outdoors, a community of outdoor enthusiasts. This site helps users find parks and recreation areas for thier next excusion.

To view contributions you have to signup, this will enable you to view member reviews and make your own review contributions to our community members. 
</p>


<p>Select a state below to view parks and recreation areas: </p>
<ul>
<% @parks.each do |park| %>
    <li>
    <% if logged_in? %>
    <%= link_to park.name, park_path(park) %> -<%= link_to 'See views', park_reviews_path(park)%>
    <%= link_to 'Write a review', new_park_review_path(park)%>
    <% else%>
    <%= link_to park.name, park_path(park) %> -<%= link_to 'See views', park_reviews_path(park)%>
    <% end %>
    </li>
<% end %>
</ul>
Here is our highest rated park by our enthusiasts:
<%= link_to @parks.highest_rating.name, park_path(@parks.highest_rating) %>
<br>
Here is our most rated park by our enthusiasts:
<%= link_to @parks.most_reviews.name, park_path(@parks.most_reviews) %>
<br>
<% if logged_in? %>
    <%= link_to 'Click here to view your reviews', user_path(current_user.id) %>
<% end %>

    