
<h2>Welcome <%= @user.full_name %>!</h2>

<h4>Here is your profile:</h4> 

Name: <%= @user.full_name %><br>
Username: <%= @user.user_name%><br>
email: <%= @user.email %><br>

<%= link_to 'Click here to Edit your profile', edit_user_path(current_user.id) %>
<br >
<h4>Here is a list of your reviews:</h4>

<table>
<tbody>
    <% @user.reviews.each do |review| %>
      <tr>
        <td><%= review.rating %></td>
        <td><%= review.title %></td>
        <td><%= link_to 'Show', review %></td>
        <td><%= link_to 'Edit', edit_review_path(review) %></td>
        <td><%= link_to 'Delete', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  </table>

<br>
<%= link_to 'return to home page', parks_path %>
<br>