<h1>New Review</h1>


<% if @review.errors.any?%>

        <ul>
        <% @review.errors.full_messages.each do |msg|%>
            <li class="error"><%= msg %></li>
            <% end%>
        </ul>
        
        <%= render 'form', review: @review %>
        
<% else %>

    <%= render 'form', review: @review %>

<% end %>

<%= link_to 'Back', reviews_path %>
<br>
<%= link_to 'Home page', parks_path %>
