<h2>Park Review Comments</h2>

<h3><%= link_to @review.park.name, park_path(@review.park) %></h3>

<h4>Rating: <%= @review.rating %> </h4>

<p>
<h4>Title: <%= @review.title %></h4>
<h4>Comments:</h4>
<%= @review.content %>
<h5> Contributor: <%= link_to @review.user.user_name, user_path(@review.user) %></h5>
<br>
</p>
<%= link_to 'View other reviews by this contibutor', reviews_path %><br>
<%= link_to 'back to Park list', parks_path %>
<br>