<!DOCTYPE html>
<html>
  <head>
    <title>GreatOutdoorsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    You are logged in as: <%= current_user %><br>
    
    <%= yield %>
    <br>
    <%= link_to 'Signup', signup_path %> |
    <%= link_to 'login', login_path %> |
    <%= link_to 'logout', logout_path %> |

  </body>

  </html>
